# 数据库配置
DATABASE_URL=file:./data/dev.db

# OSS 配置
OSS_REGION=your-region
OSS_BUCKET=your-bucket
OSS_ACCESS_KEY_ID=your-access-key
OSS_ACCESS_KEY_SECRET=your-secret-key
OSS_ENDPOINT=your-endpoint

# NextAuth 配置
NEXTAUTH_URL=http://localhost:4000
NEXTAUTH_SECRET=your-secret-key-here

# 管理员配置
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-password-here
